.membership-container {
    text-align: center;
    padding: 80px;
    
  }
  
  .membership-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .membership-option {
    border: 2px solid #ccc;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 20px;
  }
  
  .membership-option h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .membership-option p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .membership-option select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
  .cta-button {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #1f4cce;
  }
  