.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .description {
    font-size: 16px;
    color: #1f986c; /* Adjust the color as needed */
  }
  