.custom-program-card {
    width: 60%;
    padding: 20px;
    margin: 25px auto;
    text-align: center;
  }
  
  .custom-program-card a {
    text-decoration: none;
    color: inherit;
  }
  
  .custom-title {
    font-size: 20px;
    color: #a71616;
    border: #a71616;
    border-radius: 0.5rem;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 35px;
    text-align: left;
  }
  
  .custom-subtitle {
    font-size: 35px;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    color: #333;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
  }
  
  .custom-paragraph {
    font-size: 17px;
    color: #666;
    margin-bottom: 10px;
    text-align: left;
  }