/* Apply styles to the navigation bar */
.navbar {
    background-color: rgba(174, 174, 174, 0.8); /* Set a transparent background */
    border-bottom: 2px solid transparent; /* Add a white border */
    position: fixed; /* Fixed position to stay at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 35px;
    z-index: 2; /* Ensure it's above other content */
    text-align: center;
    
  }
  
  /* Style the navigation links */
  .navbar a {
    color: rgb(255, 255, 255); /* Set link text color to white */
    text-decoration: none; /* Remove underline */
    margin: 0 15px; /* Add spacing between links */
    
  }
  
