.container {
    display: flex;
    height: 700px; /* Fixed height for the container, adjust as needed */
    width: 100vw; /* 100% viewport width to span the entire monitor width */
  }
  
  .left-half,
  .right-half {
    flex: 1; /* Each child takes up 50% of the container's width */
  }
  
  /* Add more specific styling for each half if necessary */
  .left-half {
    /* background-color: #f2f2f2;  */
    display: flex;
    justify-content: right;
    align-items: right;
  }
  
  .right-half {
    /* background-color: #e0e0e0;  */
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  /* Additional styling for your image, adjust as needed */
  .right-half img {
    max-width: 100%; /* Ensure the image fits within the right half */
    max-height: 100%; /* Ensure the image fits within the right half */
    height: auto;
    width: auto;
    object-fit: fill; /* This property makes the image fill the container while maintaining aspect ratio */
  }
  .left-half img {
    max-width: 100%; /* Ensure the image fits within the right half */
    max-height: 100%; /* Ensure the image fits within the right half */
    height: auto;
    width: auto;
    object-fit: fill; /* This property makes the image fill the container while maintaining aspect ratio */
  }