.container {
    display: flex;
    min-height: 500px;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
  }
  
  .left-half,
  .right-half {
    flex: 1;
  }
  
  /* Mobile responsive */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      min-height: auto;
    }
    
    .left-half,
    .right-half {
      width: 100%;
      min-height: 300px;
    }
  }
  
  /* Add more specific styling for each half if necessary */
  .left-half {
    /* background-color: #f2f2f2;  */
    display: flex;
    justify-content: right;
    align-items: right;
  }
  
  .right-half {
    /* background-color: #e0e0e0;  */
    display: flex;
    justify-content: left;
    align-items: left;
  }
  
  /* Image styling */
  .right-half img,
  .left-half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .right-half img,
    .left-half img {
      min-height: 300px;
    }
  }